/* (file name example: main.css) */

button {
  background-color: red;
  color: white;
}

.blue-button {
  background-color: blue;
  transition: background 0.15s linear;
}

.blue-button:hover {
  background-color: black;
}

.text {
  color: red;
}

#special-text {
  color: blue;
}

.text:last-child {
  color: green;
}
